@font-face {
    font-family: 'Assistant'; 
    src: url('./Assistant-Regular.ttf');
}

@font-face {
    font-family: 'Assistant-Bold'; 
    src: url('./Assistant-Bold.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Assistant';
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.container {
    background: rgba(0, 0, 0, 0.4);
    padding: 60px 40px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #dcdcdc;
}

.buttons {
    margin-bottom: 24px;
}

.btn {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border: rgb(255, 255, 255) solid 4px;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
    margin: 0 8px 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) solid 4px;
    color: black;
}

.social-links a {
    color: #ffffff;
    font-size: 2rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #9b9b9b;
}

.social-links .custom-icon {
    width: 3rem;   
    height: 3rem;
    vertical-align: top;
    filter: brightness(1) invert(0); 
    transition: filter 0.3s ease;
}

.social-links .custom-icon:hover {
    color: #9b9b9b;
}

.social-links a:hover .custom-icon {
    filter: brightness(0) saturate(100%) invert(76%) sepia(14%) saturate(316%) hue-rotate(1deg) brightness(99%) contrast(95%);
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    align-items: center;
    vertical-align: bottom;
    margin-bottom: 4px;
    font-size: 2.5rem;
}